.footer {
  position: relative;
  background: $gray-100;
  padding: 150px 0;
  width: 100%;
  z-index: 9998;

  .container {
    display: flex;
    flex-wrap: nowrap;
  }

  &-column {
    width: 25%;
    margin: 0 15px;

    &:first-of-type {
      margin: 0 15px 0 0;
    }

    &:last-of-type {
      margin: 0 0 0 15px;
    }
  }

  &-logo {
    position: relative;
    z-index: 9999;
    left: 100px;
    width: 155px;
    height: 175px;
    margin-bottom: -88px;
  }
}