.menu {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 32px;
  background: $black;
  border-bottom: 2px solid $primary;
  align-items: center;
  justify-content: right;
  display: flex;

  + * {
    margin-top: 111px;
  }

  @include breakpoint($breakpoint-m){
    justify-content: space-between;
    padding: 32px 100px;
  }

  &-wrapper {
    display: none;
    visibility: hidden;

    @include breakpoint($breakpoint-m){
      display: block;
      visibility: visible;
    }
  }

  &-cart {
    position: relative;
    background: $gray-100;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &-badge {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 24px;
      min-height: 24px;
      max-height: 24px;
      top: -10px;
      right: -10px;
      border-radius: 15px;
      background: $primary;
      transition: $transition-options;

      &.animate {
        transform: scale(2);
      }

      &-amount {
        color: $white;
        font-size: 0.8125rem;
      }
    }
  }
  &-item {
    font-size: .9375rem;
    font-weight: 800;
    font-family: $font-secondary;
    margin: 0 37px 0 0;
    color: $white;
    transition: $transition-options;
    cursor: pointer;

    &:hover {
      color: $secondary;
    }
  }

  &-logo {
    position: absolute;
    width: 67px;
    height: 75px;
    margin-left: -33px;
    margin-top: 10px;
    left: 50%;
    top: 0;

    @include breakpoint($breakpoint-m){
      width: 156px;
      height: 176px !important;
      margin-left: -78px;
    }
  }
}