.menu {
  position: relative;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 100px;
  background: $black;
  border-bottom: 2px solid $primary;

  &-item {
    font-size: .9375rem;
    font-weight: 800;
    font-family: $font-secondary;
    margin: 0 37px 0 0;
    color: $white;
    transition: $transition-options;
    cursor: pointer;

    &:hover {
      color: $secondary;
    }
  }

  &-logo {
    position: absolute;
    width: 156px;
    height: 178px;
    margin-left: -78px;
    margin-top: 10px;
    left: 50%;
    top: 0;
  }
}