.visible {
  max-height: 9999px;
  transition: max-height cubic-bezier(1,0,1,0) .3s;
}

.hidden {
  max-height: 0;
  transition: max-height cubic-bezier(0,1,0,1) .3s;
}

.navigation {
  position: relative;
  margin: -15px 15px 15px 15px;
  width: calc(100% - 30.1px);
  border-radius: 0 0 10px 10px;
  overflow: hidden;

  @include breakpoint($breakpoint-m){
    margin: 15px;
    display: block;
    height: auto;
    width: calc(25% - 4px);
    padding: 0;
    max-height: 9999px;
  }

  &-wrapper {
    padding: 25px 25px 25px 25px;
    border: 1px solid #dfdfe8;
    border-top: 0;

    @include breakpoint($breakpoint-m){
      border: 0;
    }
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: visible;
  border-radius: 10px 10px 0 0;
  border: 1px solid #dfdfe8;
  width: calc(100% - 30.1px);
  padding: 15px 25px 15px 25px;
  margin: 15px 15px 15px 15px;

  i {
    cursor: pointer;
  }

  p {
    font-size: 1rem;
    font-family: $font-primary;
  }

  @include breakpoint($breakpoint-m){
    display: none;
    visibility: hidden;
  }
}