.price {
  margin-bottom: 25px;

  @include breakpoint($breakpoint-m){
    margin-bottom: 50px;
  }

  &-range {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    .currency {
      padding-left:30px;
      max-width: 110px;

      &:after {
        content: "€";
        position:absolute;
        top: 0;
        left: 0;
        padding: 8px 15px;
      }
    }

    .currency-symbol {
      position:absolute;
      padding: 8px 15px;
    }
  }
}