.product {
  position: relative;
  margin: 15px;
  max-height: 433px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: $transition-options;
  width: calc(50% - 30.1px);

  @include breakpoint($breakpoint-xl){
    width: calc(33.3% - 30px);
  }

  &:hover {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
  }

  &-image {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 2px solid $primary;

    img {
      height: auto;
      max-width: 100%;
      display: block;
      border-radius: 10px 10px 0 0;
    }

    &-sale {
      position: absolute;
      top: 20px;
      left: 20px;
    }
  }

  &-summary {
    position: relative;
    padding: 30px;
    height: auto;

    &-cart {
      position: absolute;
      right: 15px;
      bottom: 10px;

      .icon {
        position: absolute;
        top: calc(50% - 12px);
        left: calc(50% - 9px);
      }
    }

    &-tag {
      font-family: $font-secondary;
      font-weight: bold;
      font-size: 0.8125rem;
      line-height: 2rem;
      color: $primary;

      @include breakpoint($breakpoint-m){
        font-size: 1rem;
        line-height: 2rem;
      }
    }

    &-title {
      font-family: $font-secondary;
      color: $gray-400;
      margin-bottom: 37px;
      font-size: 1rem;
      line-height: 1.25rem;
      font-weight: bold;

      @include breakpoint($breakpoint-m){
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 300;
      }
    }

    &-price {
      font-family: $font-primary;
      font-size: 1rem;
      font-weight: bold;
      color: $gray-400;

      @include breakpoint($breakpoint-m){
        font-size: 1.125rem;
      }
    }
  }
}