.products {
  position: relative;
  margin: 15px;
  width: calc(100% - 30.1px);

  @include breakpoint($breakpoint-m){
    width: calc(75% - 4px);
  }

  &-wrapper {
    position: relative;
    margin-top: 35px !important;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}