.productdetail {
  position: relative;

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: -15px;

    @include breakpoint($breakpoint-m) {
      margin: -75px;
    }
  }

  &-image {
    width: calc(100% - 30.1px);
    margin: 15px;

    @include breakpoint($breakpoint-m) {
      width: calc(40% - 150.1px);
      margin: 75px;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    &-slider {

      &-main {

      }

      &-nav {

        .slick {

          &-list {
            margin: -5px;
          }

          &-track {
            display: flex;
            align-items: center;
            margin: 0;
          }

          &-slide {
            opacity: .5;
            margin: 5px;

            > div {
              position: relative;
              width: 100%;
              height: 0;
              padding-bottom: 100%;
              overflow: hidden;

              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
          }

          &-current {
            opacity: 1;
          }
        }
      }
    }
  }

  &-info {
    position: relative;
    padding-left: 0;

    width: calc(100% - 30.1px);
    margin: 15px;

    @include breakpoint($breakpoint-m) {
      width: calc(60% - 150.1px);
      margin: 75px;
    }

    &-wrapper {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }

    .badge {
      position: absolute;
      top: 0;
      right: 0;
    }

    &-line {
      height: 0;
      border-top: 1px solid $gray-100;
      margin: 30px 0;
    }

    &-amount {
      margin-top: 0;
      width: 90px;
      text-align: center;
      padding-left: 25px !important;
      margin-left: -25px;

      &-wrapper {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        p {
          width: 90px;
        }
      }
    }

    &-total {
      margin-top: 25px;
      display: flex;
      flex-wrap: nowrap;

      p {
        width: 90px;
      }
    }

    &-tag {
      font-family: $font-secondary;
      font-weight: bold;
      font-size: 1rem;
      line-height: 2rem;
      color: $primary;
    }

    &-title {
      font-family: $font-secondary;
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 2.25rem;
      color: $gray-400;
      margin-bottom: 37px;
    }

    &-price {
      font-family: $font-primary;
      font-size: 1.125rem;
      line-height: 1.375rem;
      font-weight: bold;
      color: $gray-400;
      inline-size: max-content + 20px;

      &-wrapper {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        p {
          width: 90px;
        }
      }
    }

    &-cart {
      margin-top: 50px;
    }
  }
}