@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.tags {
  position: relative;
  margin: -5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 25px;

  @include breakpoint($breakpoint-m){
    margin-bottom: 50px;
  }

  .tag {
    padding: .625rem  1.25rem !important;
    font-size: 0.75rem;
    font-family: $font-secondary;
    font-weight: bold;
    border: 1px solid $gray-200;
    cursor: pointer;
    display: inline-block;
    color: $black;
    line-height: 1rem;
    border-radius: 50px;
    transition: $transition-options;
    background: transparent;
    margin: 5px;

    @include breakpoint($breakpoint-m) {
      padding: .75rem 1.875rem!important;
      font-size: .875rem;
      line-height: 1rem;
    }

    &:hover {
      background: $primary;
      color: $white;
    }

    &.selected {
      background: $primary;
      color: $white;

      &:hover {
        background: $secondary;
        color: $black;
      }
    }

    &.main {
      background: $primary;
      color: $white;
    }

    &.hidden {
      visibility: hidden;
      display: none;
    }
  }
}