/* Colors */
$white:                             #ffffff;
$black:                             #000000;

// These colors may be changed to your needs
$primary:	                        #823557;
$secondary:	                        #b5d163;
$tertiary:                          #981914;

$gray-100:	                        #f1f2f6;
$gray-200:                          #d9d9d9;
$gray-300:                          #555555;
$gray-400:                          #090909;

$default:                           #2399e5;
$success:                           #3aa84b;
$danger:                            #d54733;

// Form styling
$input-background-color:            $gray-100;
$input-background-color-checked:    $primary;
$input-text-color:                  $black;
$input-error-color:                 $danger;

/* Fonts */
$font-primary:                      'Raleway', sans-serif;
$font-secondary:                    'Glober', sans-serif;
$font-size:                         16px;

/* Misc */
$container:                         calc(1434px + 8%);
$container-padding:                 0 4%;
$transition-options:                .3s ease 0s;
$section-padding-mobile:            25px 0;
$section-padding:                   75px 0;

// Mobile settings
$nav-breakpoint:                    (min-width: 980px);

$breakpoint-xs:                     (min-width: 480px);
$breakpoint-s:                      (min-width: 576px);
$breakpoint-m:                      (min-width: 640px);
$breakpoint-l:                      (min-width: 992px);
$breakpoint-xl:                     (min-width: 1200px);
